{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">
        <div>
          <!--Card-->
          <div class="card">
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->
        <div class=checkout-container>
          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ order.items.count }}</span>
          </h4>
          <!-- Cart -->
          {% for order_item in order.items.all %}
          <ul class="list-group mb-3">
             <li class="list-group-item d-flex justify-content-between lh-condensed">
               <div>
                 <h6 class="my-0">{{order_item.quantity}} x {{ order_item.item.title }}</h6>
                 <small class="text-muted">{{ order_item.item.description }}</small>
               </div>
               <span class="text-muted">${{ order_item.get_price }}</span>
             </li>
          {% endfor %}    
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>${{ order.total_price }}</strong>
            </li>
          </ul>
          <body>
            <!-- Set up a container element for the button -->
            <div id="paypal-button-container"></div>
            <!-- Include the PayPal JavaScript SDK -->
            <script src="https://www.paypal.com/sdk/js?client-id=AY1j_Dx8T6UCNFPK4zf89PezIfVGGUzxK1PKgdAsb_2rk0Lapo3BAcnFt8ZbKD7JjV77nKrfSwnEkogp&currency=USD&disable-funding=card">
            </script>
            <script>
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                         var cookies = document.cookie.split(';');
                         for (let i = 0; i < cookies.length; i++) {
                              var cookie = cookies[i].trim();
                              // Does this cookie string begin with the name we want?
                              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                  break;
                              }
                         }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');
          
                var total= '{{order.total_price}}'
                var orderId= '{{order}}'
                
                function completeOrder(){
                  var url="{% url 'complete' %}"
                  fetch(url,{
                      method:'POST',
                      headers:{
                        'Content-type':'application/json',
                        'X-CSRFTOKEN':csrftoken,
                      },
                      body:JSON.stringify({'orderId':orderId})
          
                  })
          
                }
                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({
                     style: {
                        color:  'blue',
                        shape:  'pill',
                        label:  'pay',
                        height: 40 , 
                        width: 50,
                    },
                    // Set up the transaction
                    createOrder: function(data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: total
                                }
                            }]
                        });
                    },
                    // Finalize the transaction
                    onApprove: function(data, actions) {
                        return actions.order.capture().then(function(details) {
                            // Show a success message to the buyer
                            completeOrder()
                            alert('Transaction completed by' + details.payer.name.given_name + '!');
                        });
                    }
                }).render('#paypal-button-container');
            </script>
          </body>
        </div>
  </div>
</main>
<!--paypal -->
<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

</footer>
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</body>

{% endblock %}