{% extends "sou/layout.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="alert {{message.tags}} m-2" id="msg" role="alert">
      {{ message }}
  </div>    
  {% endfor %} 
</ul>
{% endif %}

<h6>
<div class="form-group" style= "position:relative;top:40px;left:50px;">
 <form method='POST' enctype="multipart/form-data"> 
      {% csrf_token %}
      {{ form.as_p }} 
    <div style="position:relative;bottom:20px;">
       <input class='button' type='submit' style= "position:relative;top:70px;" value='Shipping'/>  
    </div>      
 </form>
</div>
</h6>




{% endblock %}