{% extends "sou/layout.html" %}

{% block content %}


<div style="position:absolute;top:90px;left:15px;">
  <h2>Your order</h2>
</div>
<div class="table-responsive" style="position:absolute;top:135px;">
    <table class="table">
        <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col">Product</th>
               <th scope="col">Quantity</th>
               <th scope="col">Price</th>
               <th scope="col">Item price</th>
           </tr>
        </thead>
        <tbody>
           {% for order_item in orders.items.all %} 
           <tr>
              <th scope="row"> {{ foorloop.counter }}</th>   
              <td>{{ order_item.item.title }}</td>
              <td>{{ order_item.quantity }}</td>
              <td>
                  {% if order_item.item.discount_price %}
                     ${{ order_item.item.discount_price }}
                  {% else %}   
                     ${{ order_item.item.price }}
                  {% endif %}  
              </td>
              <td>
                  {% if order_item.item.discount_price %}
                    ${{ order_item.get_total_discount_price }}
                  {% else %}
                    ${{ order_item.get_total_price }}
                  {% endif %}
                  <a style='color: black;' href="{% url 'remove-from-cart' order_item.item.slug %}">
                    <i class="fas fa-trash float-right"></i>
                  </a>
              </td>
           </tr> 
           {% endfor %}
           <tr>
            <td colspan="4"><b>Total</b></td>
            <td><b>${{ orders.total_price }}</b></td>
          </tr>
          <tr>
              <td colspan="5">
               <a class='btn btn-warning float-right ml-2' href='/sou/checkout-page/'>Proceed to checkout</a>
              </td>
         </tr>
        </tbody>
    </table>

</div>

 {% endblock %} 