{% extends "sou/layout.html" %}

{% block content %}

    <div>
        {{pro.name}}
        {{pro.price}}
        {{pro.description}}
    </div>
    <div class="form-group" style= "position:relative;top:40px;left:50px;">
        <form method='POST' enctype="multipart/form-data"> 
             {% csrf_token %}
             {{ form.as_p }}
           <div style="position:relative;bottom:20px;">
              <input class='button' type='submit' style= "position:relative;top:70px;" value='Buy'/>  
           </div>      
        </form>
    </div>

{% endblock %}